services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  localstack:
    image: localstack/localstack
    restart: always
    ports:
      - "127.0.0.1:4566:4566"
    environment:
      SERVICES: s3,lambda,iam,stsc,logs
      LOG_LEVEL: trace
      DOCKER_HOST: unix:///var/run/docker.sock
    volumes:
      - "localstack_data:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "./setup-localstack.sh:/etc/localstack/init/ready.d/provision.sh"
    extra_hosts:
      - "host.docker.internal:host-gateway"

  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  localstack_data:
  pgdata:
  redis_data:
